.overview-section {
  display: flex;
  padding: var(--Padding-application-v, 120px) var(--Padding-application-h, 52px);
  flex-direction: column;
  align-items: center;
  gap: var(--Padding-flex-80-40, 80px);
  transition: background-color 0.3s ease;
}
.overview-section__hero {
  display: flex;
  max-width: var(--Max-content-width, 1500px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
.overview-hero__frame {
  width: 100%;
  max-width: 1500px;
  border-radius: var(--Border-radius-Images, 16px);
  overflow: hidden;
  aspect-ratio: 3647 / 2014;
  position: relative;
}
.overview-hero__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overview-section__content {
  display: flex;
  max-width: var(--Max-content-width, 1500px);
  justify-content: center;
  align-items: flex-start;
  gap: var(--Padding-flex-80-40, 80px);
  width:100%;
}

.overview-left {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.overview-eyebrow {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--Foreground-Body-text, #190d05);
}

.overview-body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--Foreground-Body-text, #190d05);
  font-size: var(--Text-Body-Default, 16px);
  line-height: var(--Text-Body-default-line-height, 24px);
  max-width: 800px;
}

.overview-right {
  width: 494.667px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.overview-roles-eyebrow {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--Foreground-Body-text, #190d05);
  padding-bottom:16px;
  border-bottom:1px solid var(--Foreground-Body-text, #190D05);
}

.overview-roles-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.overview-role-item {
  color: var(--Foreground-Body-text, #190D05);

/* Desktop/Subtitle */
font-family: Inter;
font-size: var(--Text-Subtitle-font-size, 24px);
margin:0;
font-style: normal;
font-weight: 400;
line-height: var(--Text-Subtitle-line-height, 40px); /* 166.667% */
}

@media (max-width: 1024px) {

  .overview-hero__frame {
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 768px) {
  .overview-section__content {
    flex-direction: column;
  }
  .overview-right {
    width: 100%;
  }
}
