.adsc {
  padding: var(--Padding-application-v) var(--Padding-application-h);
  background-color: var(--Background-App);
  transition: background-color 0.3s ease;
}
.adsc__container {
  max-width: var(--Max-content-width, 1500px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Padding-flex-48-32, 48px);
}

.adsc__intro {
  display: flex;
  flex-direction: column;
  gap: var(--Padding-flex-24-16, 24px);
}
.adsc__title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: var(--Text-H3-font-size, 48px);
  line-height: var(--Text-H3-line-height, 56px);
  letter-spacing: -0.1px;
  color: var(--Foreground-Body-text, #190d05);
}
.adsc__body {
  margin: 0;
  max-width: 1000px;
  font-family: 'Inter', sans-serif;
  color: var(--Foreground-Body-text, #190d05);
  font-size: var(--Text-Body-Default, 16px);
  line-height: var(--Text-Body-default-line-height, 24px);
}

.adsc__visual {
  width: 100%;
  display: block;
  overflow: hidden;
}
.adsc__visual .adsc__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
