.adschallenge-section {
  padding: var(--Padding-application-v) var(--Padding-application-h);
  background-color: var(--Background-App, var(--Background-App));
  transition: background-color 0.3s ease;
}
.adschallenge__container {
  max-width: var(--Max-content-width, 1500px);
  margin: 0 auto;
  width: 100%;
}

.adschallenge-row {
  display: flex;
  gap: var(--Padding-flex-80-40, 80px);
  align-items: center;
  justify-content: center;
}

.adschallenge-visual {
  flex: 1;
  max-width: 100%;
}
.adschallenge-visual__frame {
  width: 100%;
  overflow: hidden;
  border-radius: var(--Border-radius-Images, 16px);
  position: relative;
}
.adschallenge-visual__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.adschallenge-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.adschallenge-title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: var(--Text-H3-font-size, 48px);
  line-height: var(--Text-H3-line-height, 56px);
  letter-spacing: -0.1px;
  color: var(--Foreground-Body-text, #190d05);
  max-width: 540px;
}

.adschallenge-body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--Foreground-Body-text, #190d05);
  font-size: var(--Text-Body-Default, 16px);
  line-height: var(--Text-Body-default-line-height, 24px);
}


@media (max-width: 768px) {
  .adschallenge-row { flex-direction: column; align-items: center;  }
}
