:root {
  --blue: #0E5EF1;
  --darkPurple: #1e2133;
  --paleBlue: #73BCFF;
  --pink: #E00E62;
  --darkGrey: #2D2D2D;
  --lightGrey: #F1F1F1;
  --mediumGrey: #747474;
  --lightBlue: #E7F8FF;
  --textBlue:#D4DAF8;
  --purpleBlue: #2A335F;
  --brightPurpleBlue: #303D81;
  --white: #fff;
  --black: #000;
  --purpleSlate: #3C4570;
  --fontSize-body: 16px;
  --extraDarkGrey:#212121;
  --extraDarkPurple:#15171f;
  --espressoBean:#190D05;
  --peachyCream:#FCF5E5;
  --deepMaroon:#261125;
  --lightMaroon:#3E1C2E;
}


* {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body,
textarea {
  margin: 0;
  font-family:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
  line-height:28px;
}

.bodyLarge {
  font-size:18px;
  line-height: 32px;
}

.subtitle {
  font-size: 24px;
  line-height: 40px;
}

.quote {
  font-size: 40px;
  line-height: 60px;
}

a {
  color:var(--blue);
}

p {
  max-width:900px;
  
}

.section2Col p,
.industries p,
.contactUs p,
.aboutHead p {
  font-size: 18px;
  line-height: 30px;
}

h1,.h2,.h3,.quote {
  font-family: 'DM Serif Display', serif;
}

h1{
  font-size: 56px;
  line-height: 72px;
  font-weight:normal;
  margin:0;
}

h1.display {
  font-size:72px;
  line-height:85px;
  color:var(--purpleSlate);
}

h1.display .highlight {
  color: #2993fe;
}

.h2{
  font-size: 40px;
  line-height: 52px;
  margin:0;
  font-weight:normal;
}

.h3{
  font-size: 34px;
  line-height: 48px;
  font-weight:normal;
  margin:0;
}

.h4{
  font-size: 24px;
  line-height: 40px;
  margin:0;
}

ul {
  padding:0;
  margin:0;
  list-style: none;
}

input,
textarea {
  padding:10px 15px;
  border-radius:6px;
  border:1px solid #AFAFAF;
  color:var(--darkGrey);
  font-size:var(--fontSize-body);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 2000px) {
  h1.display {
    font-size: 94px;
    line-height: 115px;
  }
}

/* @media (prefers-color-scheme: dark) {
 body,
 input,
 textarea,
 button{
  color:#fff;
 }
} */
